<div class="container">
  <h1>Produtos</h1>

  <% if @products.empty? %>
    <p>Nenhum produto encontrado</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Produto
          </th>
          <th>
            Descrição
          </th>
          <th>
            Quantidade em estoque
          </th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, product %>
            </td>
            <td>
              <%= product.description %>
            </td>
            <td>
              <%= product.stock_quantity %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @products %>
  <% end %>

  <p>
    <%= link_to 'Novo Produto', new_product_path %>
  </p>
</div>